/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/ui/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.home_headCont__YLEAn{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 59, 59);
}
.home_headTitle__7pjKL{
  width: 20vw;
  height: 10vh;
  background-color: rgb(0, 59, 59);
  font-size: xx-large;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;    
}
.home_headMenu__1jARR{
  width: 10vw;
  height: 10vh;
  background-color: darkcyan;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;  
}

.home_homeCont__zFR4c{
  width : 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 40, 40);
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.home_homeMenuCont__7rVGI{
  width : 20vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.home_homeMenu__93Ny3{
  width: 10vw;
  height: 10vh;
  background-color: rgb(0, 164, 63);
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;  
}

.home_productCont__VS9X2{
  width : 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 40, 40);
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
