.headCont{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 59, 59);
}
.headTitle{
  width: 20vw;
  height: 10vh;
  background-color: rgb(0, 59, 59);
  font-size: xx-large;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;    
}
.headMenu{
  width: 10vw;
  height: 10vh;
  background-color: darkcyan;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;  
}

.homeCont{
  width : 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 40, 40);
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.homeMenuCont{
  width : 20vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.homeMenu{
  width: 10vw;
  height: 10vh;
  background-color: rgb(0, 164, 63);
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;  
}

.productCont{
  width : 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 40, 40);
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}